<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.blog.mapper.PostMapper">

    <select id="selectPostList" resultType="com.spring.blog.vo.PostVO">
		SELECT 
			id, 
		    title,
		    content,
		    writer,
		    category,
		    write_date,
		    update_date,
		    delete_date,
		    delete_yn
		FROM 
			post
    </select>
    
    <insert id="createPost" parameterType="com.spring.blog.vo.PostVO">
		INSERT INTO post (title, content, writer, category, write_date, delete_yn)
		VALUES (#{title}, #{content}, #{writer}, #{category}, #{writeDate}, #{deleteYn})
	</insert>

	<select id="findById" parameterType="java.lang.Long" resultType="com.spring.blog.vo.PostVO">
		SELECT 
			*
		FROM 
			post
		WHERE
			id = #{id}
			
    </select>
    
    
    <resultMap id="postResultMap" type="PostVO">
	    <id property="id" column="id" />
	    <result property="title" column="title" />
	    <result property="content" column="content" />
	    <result property="writer" column="writer" />
	    <result property="writeDate" column="write_date" />
	    <result property="updateDate" column="update_date" />
	    <result property="deleteDate" column="delete_date" />
	    <result property="deleteYn" column="delete_yn" />
	</resultMap>

    <select id="findByAll" resultMap="postResultMap">
		SELECT 
			*
		FROM 
			post
    </select>

</mapper>