<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.blog.mapper.RecommendMapper">
    
    <!--추천 사용자 정보 등록-->
    <insert id="updateRecomUserInfo" parameterType="com.spring.blog.vo.RecommendVO">
		INSERT INTO recommend (user_id, post_id, recommend_date, delete_yn, delete_date)
		VALUES (#{userId}, #{postId}, #{recommendDate}, #{deleteYn}, #{deleteDate})
	</insert>
	
	<!-- 추천 사용자 정보 삭제 -->
	<update id="deleteRecomUserInfo" parameterType="com.spring.blog.vo.RecommendVO">
	    UPDATE recommend
	    SET 
	    	delete_yn = #{deleteYn},
	    	delete_date = #{deleteDate}
	    WHERE
			user_id = #{userId}
		AND
			post_id = #{postId}
		AND
			delete_yn = 'N'
	</update>
	
	<!--추천 사용자 정보 조회-->
	<select id="findByUserIdAndPostId" parameterType="com.spring.blog.vo.RecommendVO" resultType="com.spring.blog.vo.RecommendVO">
		SELECT 
			*
		FROM 
			recommend
		WHERE
			user_id = #{userId}
		AND
			post_id = #{postId}
		AND
			delete_yn = 'N'
			
    </select>
    

</mapper>