<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.blog.mapper.UserMapper">

	<!--사용자 등록-->
    <insert id="createUser" parameterType="com.spring.blog.vo.UserVO">
		INSERT INTO users 
			(login_id, 
			password, 
			name, 
			birthday, 
			gender, 
			email, 
			phone,
			create_date,
			update_date, 
			delete_yn)
		VALUES 
			(#{loginId}, 
			#{password}, 
			#{name}, 
			#{birthday}, 
			#{gender}, 
			#{email},
			#{phone},
			#{createDate}, 
			#{updateDate}, 
			#{deleteYn})
	</insert>

</mapper>