<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.blog.post.mapper.PostMapper">

	<!--단일 포스트 조회-->
	<select id="findById" parameterType="java.lang.Long" resultType="com.spring.blog.post.vo.PostVO">
		SELECT 
			*
		FROM 
			post
		WHERE
			id = #{id}
		AND
			delete_yn = 'N'
			
    </select>
    
    <!--전체 포스트 조회-->
    <resultMap id="postResultMap" type="PostVO">
	    <id property="id" column="id" />
	    <result property="title" column="title" />
	    <result property="content" column="content" />
	    <result property="writer" column="writer" />
	    <result property="selectCount" column="select_count" />
	    <result property="recomCount" column="recom_count" />
	    <result property="writeDate" column="write_date" />
	    <result property="updateDate" column="update_date" />
	    <result property="deleteDate" column="delete_date" />
	    <result property="deleteYn" column="delete_yn" />
	</resultMap>

    <select id="findByAll" resultMap="postResultMap" parameterType="com.spring.blog.post.dto.SearchDTO">
		SELECT 
			*
		FROM 
			post
		WHERE
			delete_yn = 'N'
		ORDER BY
			${orderCol}
		LIMIT 
			#{recordSize}
		OFFSET
			#{pagination.limitStart} 
			
    </select>
    
    <!--전체 포스트 개수-->
    <select id="findByAllCount" resultType="java.lang.Long" parameterType="com.spring.blog.post.dto.SearchDTO">
		SELECT 
			count(*)
		FROM 
			post
		WHERE
			delete_yn = 'N'
    </select>
    
    <!--포스트 등록-->
    <insert id="createPost" parameterType="com.spring.blog.post.vo.PostVO">
		INSERT INTO post (title, content, writer, category, write_date, update_date, delete_yn, select_count, recom_count)
		VALUES (#{title}, #{content}, #{writer}, #{category}, #{writeDate}, #{updateDate}, #{deleteYn}, #{selectCount}, #{recomCount})
	</insert>
	
    <!-- 포스트 업데이트 -->
	<update id="updatePost" parameterType="com.spring.blog.post.vo.PostVO">
	    UPDATE post
	    SET 
	    	title = #{title}, 
	    	content = #{content},
	    	writer = #{writer},
	    	category = #{category},
	    	update_date = #{updateDate}
	    WHERE id = #{id}
	</update>
	
	<!-- 포스트 삭제 -->
	<delete id="deletePost" parameterType="com.spring.blog.post.vo.PostVO">
		UPDATE post
	    SET 
	    	delete_yn = #{deleteYn}, 
	    	delete_date = #{deleteDate}
	    WHERE id = #{id}
    </delete>
    
    <!-- 포스트 조회수 업데이트 -->
	<update id="increaseViewCount" parameterType="java.lang.Long">
	    UPDATE post
	    SET 
	    	select_count = select_count + 1
	    WHERE id = #{id}
	</update>
	
	 <!-- 포스트 추천수 업데이트(Up) -->
	<update id="updateRecomCount" parameterType="java.lang.Long">
	    UPDATE post
	    SET 
	    	recom_count = recom_count + 1
	    WHERE id = #{id}
	</update>
	
	 <!-- 포스트 추천수 업데이트(Down) -->
	<update id="deleteRecomCount" parameterType="java.lang.Long">
	    UPDATE post
	    SET 
	    	recom_count = recom_count - 1
	    WHERE id = #{id}
	</update>

	<!--테스트용-->
	<delete id="deleteAll">
		DELETE FROM post;
	</delete>

</mapper>