<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.blog.user.mapper.UserMapper">

	<!--사용자 등록-->
    <insert id="createUser" parameterType="com.spring.blog.user.vo.UserVO">
		INSERT INTO users 
			(login_id, 
			password, 
			name, 
			birthday, 
			gender, 
			email, 
			phone,
			create_date,
			update_date, 
			delete_yn,
			roles)
		VALUES 
			(#{loginId}, 
			#{password}, 
			#{name}, 
			#{birthday}, 
			#{gender}, 
			#{email},
			#{phone},
			#{createDate}, 
			#{updateDate}, 
			#{deleteYn},
			#{roles})
	</insert>
	
	<!-- 아이디로 사용자 조회-->
	<select id="findById" parameterType="String" resultType="com.spring.blog.user.vo.UserVO">
		SELECT 
			*
		FROM 
			users
		WHERE
			login_id = #{loginId}
			
    </select>

	<select id="findByEmail" parameterType="String" resultType="com.spring.blog.user.vo.UserVO">
		SELECT
			*
		FROM
			users
		WHERE
			email = #{email}
	</select>

</mapper>